# Advanced Python
## Namespace

In [1]:
import math
import numpy as np

In [2]:
math.sqrt(2) == np.sqrt(2)

True

In [3]:
math.pi == np.pi

True

In [4]:
from numpy import random as random2
import random

In [5]:
random.gauss(0, .01)

-0.01628086939985137

In [6]:
random2.normal(0, .01)

0.007146300559819967

## Objects

* Mutable and Imutable Objects
* Type, Value and Identity

In [7]:
inteiro = 125

In [8]:
id(inteiro)

1890226160

In [9]:
inteiro.bit_length()

7

In [10]:
real = 18.85

In [11]:
id(real)

2196029955288

In [12]:
real.as_integer_ratio()

(2652901655497933, 140737488355328)

In [13]:
2652901655497933/140737488355328

18.85

In [14]:
complexo = 15 + 8j

In [15]:
type(complexo)

complex

In [16]:
complexo.conjugate()

(15-8j)

In [17]:
complexo.real

15.0

In [18]:
complexo.imag

8.0

## Mais sobre sequências

* Comparation of list with the mutable/imutable concept
* Strings (Imutable)
* Dictionaries (Mutable)
* Sets

In [19]:
lista = [1,2,3,4,5]
lista

[1, 2, 3, 4, 5]

In [ ]:
lista.#<<tab>>

In [21]:
lista.insert(1, (2,))
lista

[1, (2,), 2, 3, 4, 5]

In [22]:
lista[0] = 0
lista

[0, (2,), 2, 3, 4, 5]

In [23]:
tupla = (1,2,3,4,5,4,3)
tupla

(1, 2, 3, 4, 5, 4, 3)

In [24]:
tupla.count(3)

2

In [25]:
tupla.index(5)

4

In [26]:
tupla[0] = 99

TypeError: 'tuple' object does not support item assignment

### Strings

In [27]:
string = 'joao'

In [28]:
string.capitalize()

'Joao'

In [29]:
string # Imutabilidade

'joao'

In [ ]:
string.#<<tab>>

In [31]:
string.center(20,'_')

'________joao________'

In [32]:
string.upper()

'JOAO'

In [33]:
string.islower()

True

In [34]:
"8412".isdecimal()

True

In [35]:
string.isdecimal()

False

In [36]:
string

'joao'

In [37]:
frase = "Ola meu nome é Marcelo"

In [38]:
frase2 = frase.replace(' ', '_')
frase2

'Ola_meu_nome_é_Marcelo'

In [39]:
frase3 = frase2.split('_')
frase3

['Ola', 'meu', 'nome', 'é', 'Marcelo']

In [40]:
frase.split()

['Ola', 'meu', 'nome', 'é', 'Marcelo']

### Dicionários

In [41]:
# CODE A
age = {'João': 100, 'Maria': 90, 'Jim': 45, 'Rodrigo': 43, 'Fernanda': 29, 'Renata': 20}
age

{'João': 100,
 'Maria': 90,
 'Jim': 45,
 'Rodrigo': 43,
 'Fernanda': 29,
 'Renata': 20}

In [42]:
print(age.keys())
print(list(age.keys()))

dict_keys(['João', 'Maria', 'Jim', 'Rodrigo', 'Fernanda', 'Renata'])
['João', 'Maria', 'Jim', 'Rodrigo', 'Fernanda', 'Renata']

In [43]:
age.values()

dict_values([100, 90, 45, 43, 29, 20])

In [44]:
print(age.items()) # This is not a list
print(list(age.items())) # Now it's a list

dict_items([('João', 100), ('Maria', 90), ('Jim', 45), ('Rodrigo', 43), ('Fernanda', 29), ('Renata', 20)])
[('João', 100), ('Maria', 90), ('Jim', 45), ('Rodrigo', 43), ('Fernanda', 29), ('Renata', 20)]

In [45]:
age['Tiarles'] = 22 # Appending a dictionary
print(age)

{'João': 100, 'Maria': 90, 'Jim': 45, 'Rodrigo': 43, 'Fernanda': 29, 'Renata': 20, 'Tiarles': 22}

In [46]:
lista = [1,2,3,4]
print(lista)
lista.extend([7,8,9]) # Another method, like append
print(lista)

[1, 2, 3, 4]
[1, 2, 3, 4, 7, 8, 9]

In [47]:
print(age)
age.update({'Rod': 2, 'Gabriel': 56})
print(age)

{'João': 100, 'Maria': 90, 'Jim': 45, 'Rodrigo': 43, 'Fernanda': 29, 'Renata': 20, 'Tiarles': 22}
{'João': 100, 'Maria': 90, 'Jim': 45, 'Rodrigo': 43, 'Fernanda': 29, 'Renata': 20, 'Tiarles': 22, 'Rod': 2, 'Gabriel': 56}

## Manipulating Objects

### Dynamic Tiping

<img src="..\..\_images\adv_fig0.jpg" alt="Drawing" style="width: 400px;"/>
<img src="..\..\_images\adv_fig1.jpg" alt="Drawing" style="width: 400px;"/>

In [48]:
x = 3

In [49]:
y = x

In [50]:
print(id(x))
print(id(y))

1890222256
1890222256

In [51]:
y = y-1

In [52]:
print(x)
print(y)

3
2

In [53]:
print(id(x))
print(id(y))

1890222256
1890222224

<img src="..\..\_images\adv_fig2.jpg" alt="Drawing" style="width: 400px;"/>

In [54]:
L1 = [2,3,4]

In [55]:
L2 = L1

In [56]:
L1[0] = 24

In [57]:
print(L1)
print(L2)

[24, 3, 4]
[24, 3, 4]

In [58]:
print(id(L1))
print(id(L2))
id(L1) == id(L2)

2196049090248
2196049090248

True

### For and While Statements

<img src="..\..\_images\Screenshot_2019-03-06-18-03-47.PNG" alt="Drawing" style="width: 400px;"/>

In [59]:
i = 0
for x in range(10):
    print(x)
    
    i += 1
print('')
print('i =', i)

0
1
2
3
4
5
6
7
8
9

i = 10

In [60]:
names = ['João', 'Maria', 'Jim', 'Rodrigo', 'Fernanda', 'Renata']
names

['João', 'Maria', 'Jim', 'Rodrigo', 'Fernanda', 'Renata']

In [61]:
# List interation, like in a range
for name in names:
    print(name)

João
Maria
Jim
Rodrigo
Fernanda
Renata

In [62]:
# This for is gonna make the same thing, but using a poor form
for i in range(len(names)):
    print(names[i])

João
Maria
Jim
Rodrigo
Fernanda
Renata

In [63]:
# Iterando uma lista com tuplas e unpacking
coordinates = [
    (1,9),
    (2,18),
    (3,27),
    (4,36),
    (5,45),
    (6,54),
    (7,63),
    (8,72),
    (9,81),
    (10,90)
]

In [64]:
for x, y in coordinates:
    print(x, y)

1 9
2 18
3 27
4 36
5 45
6 54
7 63
8 72
9 81
10 90

In [65]:
print(age)

{'João': 100, 'Maria': 90, 'Jim': 45, 'Rodrigo': 43, 'Fernanda': 29, 'Renata': 20, 'Tiarles': 22, 'Rod': 2, 'Gabriel': 56}

In [66]:
for name in age.keys():
    print(name, age[name])

João 100
Maria 90
Jim 45
Rodrigo 43
Fernanda 29
Renata 20
Tiarles 22
Rod 2
Gabriel 56

In [67]:
for name in age:
    print(name, age[name])

João 100
Maria 90
Jim 45
Rodrigo 43
Fernanda 29
Renata 20
Tiarles 22
Rod 2
Gabriel 56

In [68]:
# For print in order
for name in sorted(age):
    print(name, age[name])

Fernanda 29
Gabriel 56
Jim 45
João 100
Maria 90
Renata 20
Rod 2
Rodrigo 43
Tiarles 22

In [69]:
for name in sorted(age, reverse=True):
    print(name, age[name])

Tiarles 22
Rodrigo 43
Rod 2
Renata 20
Maria 90
João 100
Jim 45
Gabriel 56
Fernanda 29

In [70]:
# While loop Clássico
i = 0
while i < 12:
    print(i)
    i += 3

0
3
6
9

### Reading and Writing Files

**AVISO: Inicializar um .txt no mesmo folder que está rodando o código, usar a célula `input.txt`**

In [71]:
filename = "input.txt"
with open(filename, 'r') as f:
    for line in f.readlines():
        print(line)

first line

second line

thirth line

In [72]:
filename = "output.txt"
with open(filename, 'w') as f:
    f.write("Oi meu nome é Tom: "+str(2+8*8/.5))

### Introduction to Functions Statements (pass e return)

In [73]:
def add(a, b): # is not necessary, in python, inform who type of object the a and b are.
    mysum = a + b
    return mysum

In [74]:
add(12, 5)

17

In [75]:
add(15, -5)

10

In [76]:
def add_and_sub(a, b):
    mysum = a + b
    mydiff = a - b
    return (mysum, mydiff)

In [77]:
add_and_sub(12, 5)

(17, 7)

In [78]:
add_and_sub(15, -5)

(10, 20)

In [79]:
newadd = add # function reference+

In [80]:
print(add(12,2))
print(newadd(12,2))

14
14

## Material Adicional

Estes códigos não foram apresentados no minicurso, mas são conhecimentos adicionais sobre:
1. Funções de exemplo para utilização
1. Alguns erros comuns de programação em Python

## A ``emptyFunction``
É uma função vazia. Ela serve para, em tempo de desenvolvimento, você cria escopos de funções que irá desenvolver posteriormente.

In [81]:
def emptyFunction(): # function notation. First letter lowercase
    pass

## A função ``modify(mylist)``

Neste trecho a mutabilidade da lista passada como parâmetro fica evidente, no momento em que:
  
1. Crio uma lista
2. Passo ela como parâmetro
3. Modifico ela com um detalhe, sem nenhum tipo de retorno

 OBS.: Atente que imprimi o identificador das duas listas. Perceba que é o mesmo valor

In [82]:
def modify(mylist):
    mylist[0] *= 10
    print('id(mylist) ='.center(12, ' '), id(mylist))
    
    
L = [1,3,5,7,9]
print('id(L) ='.center(12, ' '), id(L))
modify(L)

  id(L) =    2196048693960
id(mylist) = 2196048693960

In [83]:
L

[10, 3, 5, 7, 9]

### A função ``intersec(l1, l2)``: intersecção de duas listas

Existe uma diretiva para fazer o que chamamos na teoria de conjuntos de **pertence à** se um dado elemento, no caso o 'x' do for, pertence ou não a um conjunto, no caso uma lista 'l2'.

A função ``intersec(l1, l2)`` irá navegar elemento à elemento a lista *l1* e verificará se este pertence ou não a lista *l2*, utilizando o:

``` Python 
if x in l2
```

In [84]:
def intersec(l1, l2):
    ret = []
    for x in l1:
        if x in l2:
            ret.append(x)
    return ret

In [85]:
intersec([1,2,3,4,5], [2,4,5,6,7, 1])

[1, 2, 4, 5]

### Gerador de senha

Com a biblioteca ``random`` podemos criar uma função que retorna uma senha para você a partir do tamanho que você deseja e dos caracteres que desejas misturar.

#### Exemplo 1: Mais básico

Nesta versão utilizo alguns carcteres para fazer parte da senha ``abcdef``. Utilizando ``random.choice`` que retorna um elemento de uma sequência, esta pode ser uma string, faz o papel de escolher aleatoriamente um caracter de ``characters``. A soma de uma string com outra string retorna a string com as duas parcelas concatenadas. ``str()`` é uma forma de inicializar uma string, ou ``""``.

In [86]:
import random

def password(length):
    pw = str() # or pw = ""
    characters = "abcdef"
    
    for i in range(length):
        pw += random.choice(characters)
    return pw

In [87]:
for i in [4,8,10]:
    print(password(i))

cfcb
bfafbffe
fecbecdbbd

#### Exemplo 2: Todas as letras do alfabeto

Um formato diferente que utiliza uma outra string base

In [88]:
import random

def password(length):
    pw = str() # or pw = ""
    characters = "abcdefghijklmnopqrtsuvxwyz"
    
    for i in range(length):
        pw += random.choice(characters)
    return pw

In [89]:
for i in [4,8,10]:
    print(password(i))

qbmh
sggcuygq
qakurjmblt

#### Exemplo 3: Utilizando todos os caracteres printáveis

Esse exemplo utiliza uma string constante da biblioteca ``string`` chamada ``.printable`` em que seu valor são todos os valores printéveis. Os últimos 7 são printáveis, porém invisíveis como o '\n', \t', \r' e etc, logo, neste exemplo, eles forma removidos.

In [90]:
import random
import string

def password(length):
    pw = str() # or pw = ""
    characters = string.printable[:-7]
    
    for i in range(length):
        pw += random.choice(characters)
    return pw

In [91]:
print('Caracteres printaveis:', string.printable[:-7])
print('')
for i in [4,8,10, 50]:
    print(password(i))

Caracteres printaveis: 0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}

zuDh
me&$g<<.
/vcj|`cr4'
mY[,<)=waJo>BR-$ZRU}?#p,wDxpz/HD.l^jJ<<`=K}rrPSo@y

### Erros comuns

Alguns erros comuns praticados no desenvolvimento:

#### Erro 1 : Indexação de posições que não existem no sequência

In [92]:
L = [1,2,3]

In [93]:
type(L)

list

In [94]:
L[3]

IndexError: list index out of range

#### Erro 2: Utilizando um método não existente de um objeto

In [95]:
L.add(8)

AttributeError: 'list' object has no attribute 'add'

#### Erro 3: Indexação ou pesquisa em dicionário de chave que não existe

In [96]:
d = {'1': 'one', '2': 'two', '3': 'three'}

In [97]:
d[1]

KeyError: 1

In [98]:
d['1']

'one'

#### Erro 4: Tentando modificar um objeto imutável

In [99]:
T = (1,2,3,4)

In [100]:
T[0] = 5

TypeError: 'tuple' object does not support item assignment

In [101]:
"Python"[0] = 'A'

TypeError: 'str' object does not support item assignment

#### Erro 5: Operando objetos incompatíveis

In [102]:
"2 + 3 = " + (2 + 3)

TypeError: must be str, not int

In [103]:
"2 + 3 = " + str(2 + 3)

'2 + 3 = 5'

#### Erro 6: Erros simples de identação de código

Supondo que ``rsum(n)`` é uma função criada para acumular todos os numeros inteiros de \[0, n)

In [104]:
def rsum(n):
    rksum = 0
    for k in range(n):
        rksum += k
        return rksum

In [105]:
rsum(10)

0

In [106]:
def rsum(n):
    rksum = 0
    for k in range(n):
        rksum += k
    return rksum

In [107]:
rsum(10)

45

## FIM